<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dot.Pops" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pops" >
        <activity android:name="com.dot.Pops.views.main.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.main.Login"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.main.Register"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".views.main.Forgot"
            android:theme="@style/AppTheme"/>
        <activity android:name=".views.main.WhatNow"/>
        <activity android:name=".views.main.ProfileInformation"
            android:theme="@style/Theme.Input"/>

        <activity android:name=".views.seller.MainSeller"/>
        <activity android:name=".views.seller.MapPointing"/>
        
        <!--facebook-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--google api key-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_api_key"/>


    </application>

</manifest>